version: 0.1.{build}

branches:
  only:
    - master

image: Visual Studio 2017
platform:
  - x64

cache:
  - node_modules
  - '%APPDATA%\npm-cache'
  - '%USERPROFILE%\.electron'
  - '%USERPROFILE%\AppData\Local\Yarn\cache'

init:
  - git config --global core.autocrlf input

install:
  - ps: Install-Product node 14 x64
  - git reset --hard HEAD
  - yarn config set ignore-engines true
  - npm install
  - npm install fs-extra@9.1.0
  - npm run build
  - node --version

build_script:
  - yarn build

test: off

artifacts: # push all files in directory
  path: build\*.exe
  name: installer

deploy:
  release: gowe-win64-v$(APPVEYOR_BUILD_VERSION)
  description: 'Release description'
  provider: GitHub
  auth_token:
    secure: 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
  artifact: installer, portable
  draft: false
  prerelease: false
  on:
    branch: master
