version: 0.1.{build}

branches:
  only:
    - master

image: Visual Studio 2017
platform:
  - x64

cache:
  - node_modules
  - '%APPDATA%\npm-cache'
  - '%USERPROFILE%\.electron'
  - '%USERPROFILE%\AppData\Local\Yarn\cache'

init:
  - git config --global core.autocrlf input

install:
  - ps: Install-Product node 14 x64
  - git reset --hard HEAD
  - yarn config set ignore-engines true
  - npm install
  - npm install fs-extra@9.1.0
  - npm run build
  - node --version

build_script:
  - yarn build

test: off
deploy:
  release: gowe-v$(APPVEYOR_BUILD_VERSION)
  description: 'Release description'
  provider: GitHub
  auth_token:
    secure: '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'
  artifact: build/.*\.exe
  draft: false
  prerelease: false
  on:
    branch: master                 # release from master branch only
    APPVEYOR_REPO_TAG: true        # deploy on tag push only
